:root {
    --theme-bg: white;
    --theme-fg: black;
}

body {
    background-color: var(--theme-bg);
    color: var(--theme-fg);
}

header {
    padding: 50px;
}

main {
    text-align: center;
}

textarea {
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    font-family: "Courier New", monospace;
    width: 80%;
    height: 600px;
    resize: vertical;
    white-space: pre;
    overflow-wrap: normal;
    overflow: scroll;
}

footer {
    text-align: right;
    padding: 50px;
}